%header
  .row
    .span12
      .page-header
        %h1
          = link_to 'Todo app', root_path
          %small Tarefas inteligentes, ou não...

      - unless @current_user.nil?
        %h4{:class=>'pull-right'}
          Logado como
          = @current_user.email
          ,
          = link_to ' sair.', controller: 'sessions', action: 'logout'


