// Place all the styles related to the labels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.labels {
  .wraper {
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
    padding: 20px;
  }
}